
.about {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }

  blockquote {
    font-size: 36px;
    color: gray;
    font-style: italic;
  }

}