.bacon-container {

  margin-top: 200px;

  #baconForm {
    padding: 0 50px;
  }

  #bacon-stage {
    height: 500px;
    width: 90%;
    margin: 0 auto;
  }

  .bacon-div {
    width: 50%;
    text-align: center;
  }

  .search-wrapper {
    margin-bottom: 0;
  }

  .input-wrapper-left {
    padding-right: 25px;
  }

  .input-wrapper-right {
    padding-left: 25px;
  }

  .bacon-1-autosuggest {
    position: relative;
    z-index: 5000;
  }

  .bacon-submit {
    text-align: center;
    button {
      margin-top: 50px;
      background-color: black;
      color: white;
      font-size: 24px;
      padding: 12px 24px;
      border: 1px solid white;
      cursor: pointer;
    } 
  }

  #bacon-1-autosuggest,
  #bacon-2-autosuggest {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
  }

  button:disabled,
  button[disabled]{
    background-color: $footer-bg;
    color: white;
  }

  .preamble {
    padding-left: 50px;
    padding-right: 50px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .footer {
    margin-top: 148px;
  }

}

// mobile styles
@media screen and (max-width: 600px) {

  .bacon-container {
    margin-top: 0;

    .bacon-div {
      width: 100%;
      float: left;
    }

    .search-wrapper {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .input-wrapper-left,
    .input-wrapper-right {
      padding: 0;
    }

  }

}